/******************************************************************************
START Glitch hello-app default styles

The styles in this section do some minimal CSS resets, set default fonts and 
colors, and handle the layout for our footer and "Remix on Glitch" button. If
you're new to CSS they may seem a little complicated, but you can scroll down
to this section's matching END comment to see page-specific styles.
******************************************************************************/
/* Our default values set as CSS variables */
:root {
  --color-bg: #1E1E1E; /* Dark gray for the background */
  --color-text-main: #FDFFF7; /* Off-white for text */
  --color-text-header: #E10600; /* Iconic F1 red for headers */
  --color-primary: #6D6D6D; /* Neutral gray for accents */
  --wrapper-height: 87vh;
  --font-family-main: "F1_regular";
  --font-family-bold: "F1_bold";
  --font-family-wide: "F1_Wide";
}

/* Basic page style resets */
* {
  box-sizing: border-box;
}
[hidden] {
  display: none !important;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
}

/* Custom Font Faces */
@font-face {
  font-family: "F1_regular";
  src: url('https://cdn.glitch.global/2dade504-d355-46c2-8075-625793cc7e86/public%2FFormula1-Regular_web_0.ttf?v=1734948331492');
}

@font-face {
  font-family: "F1_bold";
  src: url('https://cdn.glitch.global/2dade504-d355-46c2-8075-625793cc7e86/public%2FFormula1-Bold_web_0.ttf?v=1734948320809');
}

@font-face {
  font-family: "F1_Wide";
  src: url('https://cdn.glitch.global/2dade504-d355-46c2-8075-625793cc7e86/public%2FFormula1-Wide_web_0.ttf?v=1734948307830');
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
  background-color: var(--color-primary);
  padding: 10px;
}
nav a {
  font-family: "Bebas Neue", serif;
  font-size: 18px;
  color: var(--color-text-main);
  text-decoration: none;
  margin: 0 15px;
  padding: 5px 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

body {
  background-color: #fff5e4;
}

section {
  margin: 20px auto;
  width: 90%;
  max-width: 1200px;
  padding: 10px;
  border: 2px solid #000000;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  text-align: center;
}
